.container {
    display: flex;
    margin-bottom: 2rem;

    .avatarContainer {
        flex: 1;
    }

    .commentContent {
        flex: 5;

        .header {
            display: flex;

            .name {
                flex: 1
            }
            
            .stars {
                flex: 1;
            }
        }
    }
}

@media only screen 
and (min-width : 1024px) {
    .container {
        width: 600px;
    }
}
