.label {
    display: block;
    margin-bottom: 1rem;
}

.input {
    padding: 1rem;
    border-radius: 0.5rem;
    display: block;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: 1px solid grey;

    &.textarea {
        height: 200px;
    }

    &.submit{
        background-color: blue;
        color: white;
    }

    &.error {
        border: 2px solid red;
    }
}

.invalidText {
    color: red;
    font-weight: bold;
}