.container {
    display: flex;
    flex-direction: column;

    .formGraphContainer {
        flex: 1;
        display: flex;
        flex-direction: column;

        .formContainer {
            flex: 1;
        }

        .graphContainer {
            flex: 1;
        }
    }

    .commentsContainer {
        flex: 1;
    }
}

.pointer:hover{
    cursor: pointer;
}

@media only screen 
and (min-width : 1024px) {
    .container .formGraphContainer {
        flex-direction: row;
        justify-content: space-between;

        .formContainer {
            margin-right: 3rem;
        }
    }
}